# GCP Project
project_id = "your-gcp-project-id"
region     = "us-central1"

# Artifact Registry
repo_name = "geo-admin-repo"

# Image Tags (update version after each gcloud builds submit)
api_image_tag = "us-central1-docker.pkg.dev/YOUR_PROJECT/geo-admin-repo/geo-admin-api:v1"
web_image_tag = "us-central1-docker.pkg.dev/YOUR_PROJECT/geo-admin-repo/geo-admin-web:v1"

# Cloud SQL
db_instance_connection_name = "your-project:us-central1:your-instance"
db_user                     = "your-db-user"
db_password                 = "your-db-password"
db_name                     = "your-db-name"

# Access Control
allow_unauthenticated = true
